@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");
body {
  background: #eae8e8;
  margin: 0;
  font-family: "Comfortaa", cursive;
}

footer {
  background: #1f2791;
  padding: 1.5rem;
  color: #eae8e8;
  font-size: 1.5rem;
}

.contact h1 {
  margin: 0;
}
.contact p {
  margin: 0.5rem 0 0 0;
}

.nav-item {
  padding: 0.5rem;
}
.nav-item a {
  text-decoration: none;
}

.bar1,
.bar2,
.bar3 {
  height: 6px;
  width: 45px;
  background: #5C82FA;
  margin: 0.35rem;
  transition: all 0.75s ease-in-out;
}

.change .bar1 {
  transform: rotate(0.125turn) translate(8px, 8px);
  background: #AAF8FF;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(-0.125turn) translate(8px, -8px);
  background: #AAF8FF;
}

.menuIcon {
  margin: 0.75rem;
  transition: all 0.75s ease-in-out;
  position: fixed;
  z-index: 2;
}

.change .menuIcon {
  transform: translate(215px);
}

.nav-container {
  background: #1f2791;
  padding: 1rem;
  width: 270px;
  height: 100vh;
  transition: all 0.75s ease-in-out;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.change .nav-container {
  transform: translateX(0%);
}

.nav-list {
  text-decoration: none;
  margin-top: 4.5rem;
}

.nav-item {
  list-style: none;
}
.nav-item a {
  color: #eae8e8;
  font-size: 2rem;
}
.nav-item:hover {
  padding: 0.25rem;
  font-size: 2.25rem;
}

main {
  padding: 0rem;
  transition: 0.75s;
  color: black;
  margin: 0 auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

.mainChange {
  opacity: 20%;
}

h1 {
  margin-top: 3rem;
}

.main-hero {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: #1f2791;
  height: 500px;
  width: 100%;
}

.hero-logo {
  width: 200px;
  align-self: flex-start;
  padding-right: 50px;
}

.bg-wide {
  background: #1f2791;
}

.intro-container {
  margin: 15rem auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 5rem;
  color: #eae8e8;
}
.intro-container h2 {
  font-size: 2.5rem;
  text-align: left;
  margin: 0;
  grid-column: 2/-1;
  grid-row-start: 1;
}
.intro-container p {
  margin: 0;
  grid-column: 2/7;
  font-size: 1.4rem;
}

.intro-img {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 250px;
  margin: auto 0;
  border-radius: 5px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: -12rem;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: "center";
  flex-direction: column;
  border-radius: 10px;
  width: 600px;
  height: 500px;
  overflow: hidden;
}
.project-card h3 {
  text-align: center;
  font-size: 2rem;
  padding: 0;
  margin: 1rem 0 0 0;
}

.project-img {
  width: 500px;
}

.card1 {
  background: #AAF8FF;
  grid-column: 1/2;
  grid-row: 1/2;
  transition: 0.35s ease-out 200ms;
}
.card1:hover {
  transform: scale(1.07);
  transform-origin: bottom right;
  box-shadow: 5px 5px 10px 5px rgba(74, 74, 74, 0.467);
}

.card2 {
  background-color: #87FF8F;
  grid-column: 2/3;
  grid-row: 1/2;
  transition: 0.35s ease-out 200ms;
}
.card2:hover {
  transform: scale(1.07);
  transform-origin: bottom left;
  box-shadow: 5px 5px 10px 5px rgba(74, 74, 74, 0.467);
}

.card3 {
  background: #1f2791;
  grid-column: 1/2;
  grid-row: 2/3;
  color: #eae8e8;
  transition: 0.35s ease-out 200ms;
}
.card3:hover {
  transform: scale(1.07);
  transform-origin: top right;
  box-shadow: 5px 5px 10px 5px rgba(74, 74, 74, 0.467);
}

.card4 {
  background: #5C82FA;
  grid-column: 2/3;
  grid-row: 2/3;
  color: #eae8e8;
  transition: 0.35s ease-out 200ms;
}
.card4:hover {
  transform: scale(1.07);
  transform-origin: top left;
  box-shadow: 5px 5px 10px 5px rgba(74, 74, 74, 0.467);
}

a {
  margin: auto;
}

/*# sourceMappingURL=main.css.map */
