body{
    color: white;
    background-color: #1d1d1d;
}
main{
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    flex: 0 0 Auto;
    align-items: center;
    font-size: 20px;
    font-weight: 500;    
}
header, footer{
    background-color: black;
    padding: 1rem;
    margin: -1rem;
}
header img{
    max-width: 50px;
}
header h1{
    display: inline;
    margin: 1rem;
}
.siteImg{
    max-width: 800px;
    margin: 0 auto;
    /* border: 2px solid #777; */
    border-radius: 5px;
    box-shadow: 5px 5px 5px #0f0f0f;
}
main div{
    margin: 1rem;
}

/* ---Nav--- */
nav{
    position: fixed;
    color: white;
    height:100%;
    background-color: white;

}